.Asides {
    width: 10%;
    height: 95%;
    
    // background: rgba(133, 54, 54, 0.397);

    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;

    .Icons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        img {
            width: 25px;
            height: 25px;
        }
    }
    .Top {
        height: 45%;
        padding-bottom: 105px;

    }
    .Bottom {
        height: 55%;
        padding-bottom: 50px;
        display: flex;
        justify-content: flex-end;
    }
    
}