 .Header {
    width: 100vw;
    height: 80px;
    
    display: flex;
    align-items: center;

    .left {
       width: 50%;
       height: 100%;
   
       display: flex;
       align-items: center;

        .logo {
           width: 80px;
           height: 100%;
       
           display: flex;
           justify-content: center;
           align-items: center;

           img {
               width: 40px;
            }
        }

        .titles-container{
           width: auto;
           height: 100%;
           padding-left: 10px;
       
           display: flex;
           align-items: center;

           span {
               font-size: 20px;
               padding-left: 5px;
               
            }
            
            :last-child, :nth-child(2) {
                color: rgb(138, 133, 133);
            }
       }
   }
    .right {
       width: 50%;
       height: 100%;
       padding-right: 10px;
   
       display: flex;
       justify-content: flex-end;
       align-items: center;

        .search {
           width: 250px;
           height: 30px;
           margin-right: 10px;
           border-radius: 10px;
           border: 1px solid #E7E9EB;
           
           display: flex;
           justify-self: center;
           align-items: center;

           img {
               width: 25px;
               padding-right: 10px;
               display: none;
           }

           input {
               width: 100%;
               height: 100%;
               border: none;
               padding-left: 10px;
               border-radius: 10px;
               background: transparent;
               bottom: 1px solid #E7E9EB;
               outline: none;
            }
            :focus {
                box-shadow: 2px 4px 10px rgb(202, 200, 200);  
            }
        }

        .icons {
           width: 30px;
           height: 30px;
           border-radius: 10%;
           margin-right: 5px;
       
           display: flex;
           justify-content: center;
           align-items: center; 

            img {
               width: 15px;
           }
        }  
   }
}


.Header .right .icons:hover {
    background: rgba(216, 213, 213, 0.445);
}
.Header .right .icons:active {
    box-shadow: 2px 4px 10px rgb(202, 200, 200);        
}
