@media only screen and (max-width: 1400px)  {
    
    .Header {
        height: 50px;

    }
    .Header .left .logo img {
        width: 30px;
    }
    
    .Home .left {
        width: 80px;
        
    }
    .left .titles-container span { 
        font-size: 18px;
    }

    .right img {
        width: 12px;
    }
    .Charts {
        padding: 0 !important;
        canvas {
            padding-bottom: 10px;
            padding-right: 5px;
        }
    }
}
